.md-tabs {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12);
}

.md-header[data-md-state=shadow] {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.project-list {
    font-size: 16px;
    margin-right: 16px;
    cursor: pointer;
    margin-top: 3px;
}

.project-list .icon {
    transform: rotate(90deg);
    font-size: 15px;
    width: 1.2rem;
    height: 1.2rem;
    margin-top: -2px;
}

.project-list-dialog {
    top: -310px;
    position: fixed;
    background-color: white;
    width: 620px;
    height: 160px;
    margin-right: 300px;
    z-index: 9999;
    transition: 0.3s;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 8px 20px 20px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 1300px) {
    .project-list-dialog {
        margin-right: 0 !important;
        right: 0;
    }
}

.project-list-dialog ul{
    list-style: none;
    padding: 0;
}

.project-list-dialog li {
    margin-bottom: 5px;
}

.project-list-dialog a{
    font-size: 14px;
}

.project-list:hover~.project-list-dialog {
    top: 0;
}

.project-list-dialog:hover {
    top: 0;
}

.md-sidebar--secondary .md-sidebar__inner {
    border-left: 4px solid var(--md-primary-fg-color--light);
}



.md-nav__item--nested .md-nav__toggle:checked~.md-nav__link .md-nav__icon {
    transform: rotate(0deg);
}

.md-nav__item--nested .md-nav__toggle~.md-nav__link .md-nav__icon {
    transform: rotate(90deg);
}

footer {
    line-height: 24px;
    font-size: 14px;
    font-family: "Roboto", "Roboto Light", sans-serif;
    font-weight: 300;
    margin-top: 30px;
    background: transparent;
}

footer .img-fluid {
    max-width: 100%;
    height: auto;
}
footer img {
    vertical-align: middle;
    border-style: none;
}

footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
    font-family: poppins,sans-serif;
    font-weight: 700;
    margin-bottom: .5rem;
    line-height: 1.2;
    margin-top: 0;
}

footer h4 {
    font-size: 1.2rem;
}

.area-footer {
    padding-top: 60px;
    background-color: #202428;
}

@media screen and (max-width: 570px) {
    .area-footer {
        padding-top: 0;
    }

    .area-footer {
        text-align: center;
    }
}


.area-footer ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 5px;
}

.area-footer a, .area-footer h4 {
    color: #DBE1E5 !important;
}

.area-footer .footer-min {
    border-top: 1px #B3BFC8 solid;
    margin-top: 25px;
}

.area-footer .brand {
    margin-top: 25px;
}

.footer-min {
    padding-top: 10px;
    height: 45px;
}

.footer-min ul {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-min a {
    color: white;
}

.footer-min ul li {
    margin-left: 20px;
    color: white;
    display: inline-block;
}


.md-typeset hr {
    margin: 0;
}


.page-container {
    margin-top: 100px;
    margin-right: 40px;
    margin-left: 40px;
}

.page-container h1{
    color: #fff;
    font-weight: bold;
}

.page-container h4{
    margin-top: 60px;
    font-weight: bold;
}

.page-container .product-info {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
}

.page-container .product-info div{
    display: inline-block;
}

.page-container .product-info h5{
    font-size: 20px;
}

.page-container .product-info .img-container{
    width: 120px;
    height: 120px;
    background-color: #f1f3f4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.page-container .feature-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-container .feature-content h5{
    font-size: 18px;
}

.page-container .feature-content .img-container{
    width: 120px;
    height: 120px;
    background-color: #f1f3f4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.md-typeset p {
    font-weight: 300;
}

.md-typeset h1 {
    font-weight: bold;
    font-size: 26px;
}

.md-typeset h2 {
    font-weight: 500;
    font-size: 22px;
}

.md-typeset h3 {
    font-weight: 500;
    font-size: 18px;
}

.md-typeset h4 {
    font-weight: 500;
    font-size: 14px;
}

@media screen and (min-width: 76.25em){
    .md-nav__toggle~.md-nav {
        display: block;
    }
    .md-nav__icon {
        transform: rotate(90deg) !important;
    }
}

.md-typeset table:not([class]) th {
    color: var(--md-default-fg-color--lighter) !important;
    font-weight: bold !important;
}


