{% extends "main.html" %}

{% block tabs %}
{{ super() }}

<style>
    .md-header {
        position: initial !important;
    }
    .md-main__inner {
        margin: 0 !important;
    }
</style>

<section class="tx-container">
    <div class="md-grid md-typeset">
        <div class="page-container">

            <div class="row">
                <div class="col-12 col-lg-6" style="margin-bottom: 40px;">
                    <h1>{{config.site_name}}</h1>
                    <p >{{config.site_description}}</p>
                    <a href="{{ page.next_page.url | url }}"
                       class="md-button md-button--primary"
                    >
                        Get started
                    </a>
                </div>

                <div class="col-12 col-lg-6">
                    <img src="{{config.site_url}}images/overview.png" alt="Overview Image"/>
                </div>
            </div>

            <h4>Features</h4>

            <div class="row">

                <div class="col-12 col-md-6 feature-content">
                    <div>
                        <div class="img-container">
                            <i class="fas fa-globe-europe" ></i>
                        </div>
                    </div>
                    <h5>Multiple languages</h5>
                    <p style="text-align: center">Cou can use as many languages as you want. All languages are listed in the language.json in your GitHub repository.</p>
                </div>

                <div class="col-12 col-md-6 feature-content">
                    <div>
                        <div class="img-container">
                            <i class="fas fa-server" ></i>
                        </div>
                    </div>
                    <h5>No backend infrastructure</h5>
                    <p style="text-align: center">All messages are consumed directly from the GitHub repository, you don't need a server.</p>
                </div>

                <div class="col-12 col-md-6 feature-content">
                    <div>
                        <div class="img-container">
                            <i class="fas fa-code" ></i>
                        </div>
                    </div>
                    <h5>Simple setup and usage</h5>
                    <p style="text-align: center">The library is very light and can be integrated very quickly.</p>
                </div>

                <div class="col-12 col-md-6 feature-content">
                    <div>
                        <div class="img-container">
                            <i class="fas fa-user-friends" ></i>
                        </div>
                    </div>
                    <h5>Everyone can translate</h5>
                    <p style="text-align: center">Let everyone in your community help translate your projects, they can easily contribute to your GitHub language repository.</p>
                </div>

            </div>
        </div>
        <div class="navbar-blocker"> </div>
    </div>
</section>
{% endblock %}

<!-- Content -->
{% block content %}{% endblock %}

